:root {
    --primary-color: blue;
    --text-color: white;
    --box-padding: 30px;
}

.box {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: var(--box-padding);
}

h1 {
    font-size: clamp(24px, 5vw, 60px);
}


@layer base, components;

@layer base {
    .title {
        color: blue;
    }
}

@layer components {
    .title {
        color: red;
    }
}




.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    display: grid;

    grid-template-rows: subgrid;

    grid-row: span 3;

    padding: 20px;
    background-color: lightgray;
}

.card button {
    width: 100px;
}